# Byte-compiled / optimized / DLL files
#__pycache__/

# Installer logs
pip-log.txt

# Django stuff:
db.sqlite3

# PEP 
#__pypackages__/

# Environments
.env
.venv
env/
venv/
projectenv/
SwampServicesProgramEnv/
SwampServicesTestingEnv/

# Text files
accounts.txt