# Installer logs
pip-log.txt

#local_settings.py
db.sqlite3
#db.sqlite3-journal


# Environments
.env
.venv
env/
venv/
projectenv/
SwampServicesProgramEnv/
SwampServicesTestingEnv/

# Text files
accounts.txt