{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="dx-main">
    <header class="dx-header dx-box-1">
        <div class="container">
            <div class="bg-image bg-image-parallax">
                <img src="{% static '../images/home-uf-banner.jfif' %}" class="jarallax-img" alt="">
                <div style="background-color: rgba(0,0,255,0.5);"></div>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-7">
                    <h1 class="h2 mb-30 text-white text-center" style="font-weight: bold">Swamp Services Leaderboard</h1>
                    <p style="text-align:center; color: white; font-weight: 500">
                    Gator points are assigned based on the length and difficulty of a service oppurtunity.
                    Students with the most Gator Points are presented here!
                    </p>
                </div>
            </div>
        </div>
    </header>

    
    <div class="dx-box-5 pb-100 bg-grey-6">
        <div class="container">
            <div class="row vertical-gap md-gap">
                <div class="col-lg-8 offset-md-2">
                    <table class="dx-table dx-table-default">
                        <thead> 
                            <tr>
                                <th scope="col" style="width: 20px">Top 10 Students</th>
                                <th scope="col" >Account Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="col">1.</th>
                                <td scope="col">Name var</th>
                            </tr>

                            <tr>
                                <td scope="col">2.</th>
                                <td scope="col">Name var</th>
                            </tr>

                            <tr>
                                <td scope="col">3.</th>
                                <td scope="col">Name var</th>
                            </tr>

                            <tr>
                                <td scope="col">4.</th>
                                <td scope="col">Name var</th>
                            </tr>

                            <tr>
                                <td scope="col">5.</th>
                                <td scope="col">Name var</th>
                            </tr>

                            <tr>
                                <td scope="col">6.</th>
                                <td scope="col">Name var</th>
                            </tr>

                            <tr>
                                <td scope="col">7.</th>
                                <td scope="col">Name var</th>
                            </tr>

                            <tr>
                                <td scope="col">8.</th>
                                <td scope="col">Name var</th>
                            </tr>

                            <tr>
                                <td scope="col">9.</th>
                                <td scope="col">Name var</th>
                            </tr>

                            <tr>
                                <td scope="col">10.</th>
                                <td scope="col">Name var</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}