<!-- Shows a post from a user perspective (user viewing the post) -->
{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="dx-box-1 pb-100 bg-grey-6">
        <div class="container">
            <div class="row vertical-gap md-gap">
                <div class="col-lg-8">
                    <div class="dx-blog-post dx-box dx-box-decorated">

                        <div class="dx-blog-post-box">

                            <h1 class="h3 dx-blog-post-title" style="text-align:center">{{ topic.title }}</h1>
                            <ul class="dx-blog-post-info" style="text-align:center">
                                <li>Date Posted: {{ topic.date_created }}</li>
                                <li>Total Views: {{ topic.topic_view_count }}</li>
                                <li>Author: {{ topic.author.user }}</li>
                                <li>Category: {{topic.category}} </li>
                                <li>Gator Points: {{topic.gatorpnts}}</li>
                            </ul>
                            <p class="mnb-2">{{ topic.description }}</p>
                        </div>
                    </div>

                    <div class="dx-box mt-55">
                        {% if  answers.count > 0 %}
                        <h2 class="h4 mb-45" style="color:white">{{ answers.count }} response{{ answers|pluralize }} in this topic: </h2>
                        {% else %}
                        <h2 class="h4 mb-45" style="color:white; font-weight:500; text-align:center">Be the first to reply to this topic.</h2>
                        {% endif %}
                        
                        {% for answer in answers %}
                        <div class="dx-comment {% if answer.accepted %}accepted-answer{% endif %}"> 

                            <div>
                                <div class="dx-comment-img">
                                    <img src="{{ answer.user.author.profile_pic.url }}" alt="" class="rounded-circle">
                                </div>
                                <div class="dx-comment-cont">
                                    <p class="dx-comment-info">
                                        <span class="dx-comment-name" style="color:white; font-weight:600">{{ answer.user|capfirst }}</span>

                                        {% if answer.user.author.is_moderator %}
                                        <span class="dx-comment-profession">
                                            <img src="{% static 'images/SG-Logo-Color.png' %}" style="width:45px;" alt="">
                                            <span class="label-moderator">Student Council Moderator</span>
                                        </span>
                                        {% else %}
                                        <span class="dx-comment-profession">
                                            <img src="{% static '../static/images/gator-mascot-head-vector.png' %}" style="width:45px;" alt="">
                                            <span class="label-user">General User</span>
                                        </span>
                                        {% endif %}

                                        <span class="dx-comment-date" style="color:white; text-align:left">
                                            answered at {{ answer.date_created }}
                                        </span>
                                    </p>

                                    <div class="dx-comment-text" style="color:white">
                                        <p class="mb-0">{{ answer.content }}</p>
                                    </div>
                                    
                                        <!-- Accept Service Button -->
                                    {% if user == topic.author.user %}
                                        <a href="{{ answer.accept_answer_url }}" class="btn btn-success">
                                            {% if answer.accepted %}
                                                Unaccept Service
                                            {% else %}
                                                Accept Service
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                    <!-- / Accept Service Button -->

                                </div>
                            </div>
                        </div>
                        {% endfor %}


                        {% if post_is_open %}
                        <form action="" method="POST" class="dx-form mt-50 mb-45">
                            <div class="row vertical-gap">
                                <div class="col-12">
                                    {% csrf_token %}
                                    {{ answer_form }}
                                    <input type="submit" class="dx-btn dx-btn-lg" value="Post Answer">
                                </div>
                            </div>
                        </form>
                        {% else %}
                        <p class="text-center" style="color:white; font-weight:500;">This post is closed for replies.</p>
                        {% endif %}
                    </div>
                </div>

                {% if user.author.is_moderator %}
                <div class="col-lg-4">

                    <div class="dx-sticky dx-sidebar" data-sticky-offsettop="120" data-sticky-offsetbot="40">

                        <div class="dx-widget dx-box dx-box-decorated">
                            <div class="dx-widget-title">Status of Post (Open or Close)</div>
                            {% if post_is_open %}
                                <a href="{% url 'close-post' topic.pk %}" class="btn btn-danger">Close this Post</a>
                            {% else %}
                                <a href="{% url 'open-post' topic.pk %}" class="btn btn-success">Open this Post</a>
                            {% endif %}
                        </div>

                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}