{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="dx-box-1 pb-100 bg-grey-6">
        <div class="container">
            <div class="row vertical-gap md-gap">
                <div class="col-lg-8">
                    <div class="dx-blog-post dx-box dx-box-decorated">

                        <div class="dx-blog-post-box">

                            <h1 class="h3 dx-blog-post-title">{{ topic.title }}</h1>
                            <ul class="dx-blog-post-info">
                                <li>Date Posted: {{ topic.date_created }}</li>
                                <li>Total Views: {{ topic.topic_view_count }}</li>
                                <li>Author: {{ topic.author.user }}</li>
                                <li>Category: </li>
                                <li>Service Start Date: </li>
                                <li>Service End Date: </li>
                            </ul>
                            <p class="mnb-2">{{ topic.description }}</p>
                        </div>
                    </div>

                    <div class="dx-box mt-55">
                        {% if  answers.count > 0 %}
                        <h2 class="h4 mb-45">{{ answers.count }} replie{{ answers|pluralize }} in this topic: </h2>
                        {% else %}
                        <h2 class="h4 mb-45">Be the first to reply to this topic.</h2>
                        {% endif %}
                        {% for answer in answers %}
                        <div class="dx-comment">

                            <div>
                                <div class="dx-comment-img">
                                    <img src="{{ answer.user.author.profile_pic.url }}" alt="" class="rounded-circle">
                                </div>
                                <div class="dx-comment-cont">
                                    <p class="dx-comment-info">
                                        <span class="dx-comment-name">{{ answer.user|capfirst }}</span>

                                        {% if answer.user.author.is_moderator %}
                                        <span class="dx-comment-profession">
                                            <img src="{% static 'images/SG-Logo-Color.png' %}" width="45px;" alt="">
                                            <span class="label-moderator">Student Council Moderator</span>
                                        </span>
                                        {% else %}
                                        <span class="dx-comment-profession">
                                            <img src="{% static '../static/images/gator-mascot-head-vector.png' %}" width="45px;" alt="">
                                            <span class="label-user">General User</span>
                                        </span>
                                        {% endif %}

                                        <span class="dx-comment-date">
                                            answered at {{ answer.date_created }}
                                        </span>
                                    </p>

                                    <div class="dx-comment-text">
                                        <p class="mb-0">{{ answer.content }}</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        {% endfor %}


                        <form action="" method="POST" class="dx-form mt-50 mb-45">
                            <div class="row vertical-gap">
                                <div class="col-12">
                                    {% csrf_token %}
                                    {{ answer_form }}
                                    <input type="submit" class="dx-btn dx-btn-lg" value="Post Answer">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                {% if user.author.is_moderator %}
                <div class="col-lg-4">

                    <div class="dx-sticky dx-sidebar" data-sticky-offsettop="120" data-sticky-offsetbot="40">

                        <div class="dx-widget dx-box dx-box-decorated">
                            <div class="dx-widget-title">Assign Gator Points</div>
                            <label for="points">Points (between 1 and 10):</label>
                            <input type="number" id="points" name="points" min="1" max="10">
                            <input type="submit" onclick="alert('You assigned Gator Points!')">
                        </div>

                        <div class="dx-widget dx-box dx-box-decorated">
                            <div class="dx-widget-title">Status of Post (Open or Close)</div>
                            <!--#If it is after the service end date, automatically close the post
                #Admin should have ability to close or open a post for saftey reasons-->
                            <button type="button" onclick="alert('This post has been CLOSED!')">Close this Post</button>
                            <button type="button" onclick="alert('This post has been OPEN!')">Open this Post</button>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
    {% endblock content %}
