{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="dx-main">
    <div class="dx-box-6 pb-100 bg-grey-6">
        <div class="container">
            <form action="" method="POST" class="dx-form mt-50 mb-45">
                <div class="row vertical-gap md-gap">
                    <div class="col-lg-8">
                        <h2 class="h4" style="text-align:center">Post A New Topic</h2>
                        <div class="dx-box mt-55">
                            <div class="row vertical-gap">

                                <div class="col-lg-4">
                                    <label for="category">Select a Post Category:</label>
                                    <select name="category" id="category">
                                        <option value="Pet Services">Pet Services</option>
                                        <option value="Moving Service">Moving Services</option>
                                        <option value="Food Donations">Food Donations</option>
                                        <option value="Event Planning Services">Event Planning Services</option>
                                        <option value="Textbook Exchanges">Textbook Exchanges</option>
                                        <option value="Study Material Donations">Study Material Donations</option>
                                        <option value="Clothing Donations">Clothing Donations</option>
                                        <option value="Transport/Carpool Services">Transport/Carpool Services</option>
                                        <option value="Technology Repair Services">Technology Repair Services</option>
                                        <option value="Car Repair Services">Car Repair Services</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>

                                <div class="col-lg-2">
                                    <label for="gatorpnts">Assign Gator Points (range 1 - 10):</label>
                                    <input type="number" id="gatorpnts" name="gatorpnts" min="1" max="10">
                                </div>

                                <div class="col-lg-3">
                                    <label for="startdate">Select the service start date:</label>
                                    <input type="date" id="startdate" name="startdate" pattern="d{4}-\d{2}-\d{2}">
                                </div>
                                    
                                <div class="col-lg-3">
                                    <label for="enddate">Select the service end date:</label>
                                    <input type="date" id="enddate" name="enddate">
                                </div>


                                <div class="col-12">
                                    {% csrf_token %}
                                    {{ form }}

                                    <input type="submit" class="dx-btn dx-btn-lg" value="Post">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>      
        </div>
    </div>
</div>
{% endblock content %}